@font-face {
    font-family: Bavista;
    src: url(/Bavista_Soulare.ttf);
}
@font-face {
    font-family: Montserrat;
    src: url(MontserratAlternates-Regular.ttf);
}
@font-face {
    font-family: Heavitas;
    src: url(Heavitas.ttf);
}

@keyframes linkHover {
    from
    {
        text-decoration: none;
        
        border-radius: 20px;
        padding: 10px;
    }

    to
    {
        text-decoration: line-through;
        background-color: rgba(0, 0, 0, 0.35);
        border-radius: 15px;
        padding: 15px;
    }
}

@media (max-width:1080px) {
    .title
    {
        width: max-content;
        justify-self: center;
    }
    a
    {
        font-size: var(--title);
    }
    .content
    {
        flex-direction: column;
    }
}

body
{
    --primary: rgba(255,100,70);
    --secondary: rgb(225, 175, 45);
    --title:xx-large;
    --main:large;

    background-color: rgb(35, 35, 35);

    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title
{
    background-color: var(--primary);

    width: 150vh;

    font-size:var(--title);
    font-family:'Bavista';
    text-align: center;

    padding: 2%;
    border: 2%;
    border-radius: 35px;
    box-shadow: 0px 0px 15px 1px rgba(255, 99, 71, 0.75);
}

.navbar
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    
}

a
{   
    font-family: 'Montserrat';
    font-size: var(--main);
    font-weight: bold;

    color: white;

    text-decoration: none;
}
a:hover
{
    animation:linkHover;
    animation-duration: 250ms;
    animation-fill-mode: forwards;
}

.content
{
    color: white;
    white-space: pre;
    font-family: 'Montserrat';
}

.notes
{
    flex: 2;

    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: var(--main);
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: auto;
    padding-right: auto;
}

.content
{
    display: flex;
    gap: 5%;


    align-items: center;

}
